<style>
  @import url('https://nanbyodata.jp/static/sass/main.css');
  @import url('https://nanbyodata.jp/static/sass/disease.css');

  .data_table > :nth-child(1) {
    border: solid 2px #C1C6D3;
    border-radius: 5px;
  }
  .data_name > h2, h3, p{
    margin: 0;
  }
  .data_name > h3 {
    font-size: 12px;
    font-weight: normal;
  }
  .data_name > h2 > ruby {
    font-size: 24px;
  }
  .data_name > h2 > ruby > rt {
    font-size: 8px;
    font-weight: normal;
  }
  .data_name > h2 > h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .data_info1 > div > p {
    border: 1px solid;
    border-radius: 3px;
  }

  .data_table > :nth-child(1) > div  {
    padding: 10px;
  }
  .data_table > :nth-child(2) {
    padding-top: 10px;
  }

  .data_name {
    border-bottom: 1px dotted #C1C6D3;
    margin: 0;
  }
  .link-wrapper {
    border-bottom: none;
  }
  .data_info1, .data_info2 {
    display: flex;
  }
  .data_info1 > div {
    display: inline;
    border: #147786 1px solid;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 12px;
    padding: 4px 10px;
    background-color: #147786;
    color: #fff;
  }

  .data_info1 > div > a {
    color: #fff;
    text-decoration: none;
  }
  
  .data_info2 > div {
    display: inline;
    font-weight: bold;
    background-color: rgba(20,119,134,0.2);
    border-radius: 3px;
    margin-right: 2px;
    font-size: 10px;
    padding: 2px 4px 6px;
  }
  .data_info2 > div > div {
    margin-top: 6px;
  }

  .data_info2 > div > div > span{
    border: rgb(20,119,134) 1px solid;
    border-radius: 3px;
    padding: 4px 20px;
    font-size: 12px;
    background-color: rgb(20,119,134);
  }

  .data_info2 > div > div > span> a{
    color: #fff;
    text-decoration: none;
  }

  details .data-list {
    display: flex;
    margin-top: 5px;
  }

  .data-list > div {
    background-color: rgba(20,119,134,0.2);
    border-radius: 3px;
    margin-right: 2px;
    font-size: 10px;
    padding: 2px 4px 6px;
  }

  .data-list > div > h3 {
    font-size: 10px;
    font-weight: normal;
  }

  .data-list > div > div {
    border: rgb(20,119,134) 1px solid;
    border-radius: 3px;
    padding: 4px 20px;
    background-color: rgb(20,119,134);
  }

  .data-list > div > div > p > a{
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
  }

  details summary {
    border-bottom: none;
  }

  .tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 1px;
    background: DeepSkyBlue;
    display: block;
    order: -1;
  }
  .tab-label {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .tab-switch:checked+.tab-label {
    border: DeepSkyBlue 1px solid;
    border-bottom: none;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
  }
  .tab-switch {
    display: none;
  }
  details {
    z-index: 0;
    position: relative;
  }

  #data-wrapper details summary {
    color: #fff;
  }
  #data-wrapper details summary:before {
    width: 100%;
    height: 28px;
    z-index: -1;
    position: absolute;
  }
  #data-wrapper details[open] summary:after {
    left: 7px;
  }
  #data-wrapper details summary:after {
    left: 9px;
  }
</style>
<div id="data-wrapper">
  <div class="data_table">
    <div>
      <div class="data_name">
        <h3>NANDO ID: <span><a href="http://nanbyodata.jp/ontology/nando#{{result.nando_id}}">{{result.nando_id}}</a></span></h3>
        <h2>
          <ruby>{{result.label_ja}}<rt>にほんごるび</h2></rt></ruby>
        </h2>
        <h3>{{result.label_en}}</h2>

        {{!-- <div class="data_number">
        <h3>NANDO ID:<span><a href="http://nanbyodata.jp/ontology/nando#{{result.nando_id}}">{{result.nando_id}}</a></span></h3>
        <h3>告示番号:<span>{{result.notification_number}}</span></h3>
        </div>
        <div class="data_title">
          <h2>{{result.label_ja}}</h2>
          <h3>{{result.label_en}}</h3>
        </div> --}}
      </div>
      <div class="data_info1">
        <div style="background-color: #fff;
    color: #147786;">告示番号: <span>{{result.notification_number}}</span></div>
        {{#if result.mhlw.url}}
        <div>
          <a href="{{result.mhlw.url}}">概要、診断基準等</a>
        </div>
        {{/if}}
        {{#if result.source}}
        <div>
          <a href="{{result.source}}">臨床調査個人票・医療意見書</a>
        </div>
        {{/if}}
        {{#if result.nanbyou.url}}
        <div>
          <a href="{{result.nanbyou.url}}">難病情報センター</a>
        </div>
        {{/if}}
        {{#if result.shouman.url}}
        <div>
          <a href="{{result.shouman.url}}">小児慢性特定疾病情報センター</a>
        </div>
        {{/if}}
        
        {{!-- <div class="data-list">
          <div class="link-wrapper">
            {{#if result.mhlw.url}}
            <div class="data-link">
              <span><a href="{{result.mhlw.url}}" target="_blank">概要、診断基準等</a></span>
            </div>
            {{/if}}
            {{#if result.source}}
            <div class="data-link">
              <span><a href="{{result.source}}" target="_blank">臨床調査個人票・医療意見書</a></span>
            </div>
            {{/if}}
            {{#if result.nanbyou.url}}
            <div class="data-link">
              <span><a href="{{result.nanbyou.url}}" target="_blank">難病情報センター</a></span>
            </div>
            {{/if}}
            {{#if result.shouman.url}}
            <div class="data-link">
              <span><a href="{{result.shouman.url}}" target="_blank">小児慢性特定疾病情報センター</a></span>
            </div>
            {{/if}}
          </div>
          {{#if result.alt_label_ja_string}}
          <div class="list-wrapper">
            <h4>別疾患名(日):</h4>
            <div class="list-contents">
              <p>{{result.alt_label_ja_string}}</p>
            </div>
          </div>
          {{/if}}
          {{#if result.alt_label_en_string}}
          <div class="list-wrapper">
            <h4>別疾患名(英):</h4>
            <div class="list-contents">
              <p>{{result.alt_label_en_string}}</p>
            </div>
          </div>
          {{/if}}
        </div> --}}
      </div>
    </div>
    <div class="data_info2">
      {{#if result.alt_label_ja}}
      <div>別疾患名（日）
        <div>
          {{#each result.alt_label_ja}}
          <span style="background-color: #fff; color: rgb(20,119,134);">{{this}}</span>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{!-- {{#if result.alt_label_en}}
      <div>別疾患名（英）
        <div>
          {{#each result.alt_label_en}}
          <span>{{this}}</span>
          {{/each}}
        </div>
      </div>
      {{/if}} --}}
      {{#if result.inheritance_uris}}
      <div>遺伝形式
        <div>
          {{#each result.inheritance_uris}}
            <span><a href="{{uri}}">{{id}}</a></span>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{#if result.gene_uris}}
      <div>疾患原因遺伝子
        <div>
          {{#each result.gene_uris}}
            <span><a href="{{uri}}">{{id}}</a></span>
          {{/each}}
        </div>
      </div>
      {{/if}}
      
      {{!-- <div class="data-list">
        {{#if result.alt_label_ja_string}}
        <div class="list-wrapper">
          <h4>別疾患名(日):</h4>
          <div class="list-contents">
            <p>{{result.alt_label_ja_string}}</p>
          </div>
        </div>
        {{/if}}
        {{#if result.alt_label_en_string}}
        <div class="list-wrapper">
          <h4>別疾患名(英):</h4>
          <div class="list-contents">
            <p>{{result.alt_label_en_string}}</p>
          </div>
        </div>
        {{/if}}

        {{#if result.inheritance_uris}}
        <div class="list-wrapper">
          <h4>遺伝形式:</h4>
          <div class="list-contents">
            <p>
              {{#each result.inheritance_uris}}
              <a href="{{uri}}" target="_blank">{{id}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        {{/if}}

        {{#if result.gene_uris}}
        <div class="list-wrapper">
          <h4>疾患原因遺伝子:</h4>
          <div class="list-contents">
            <p>
              {{#each result.gene_uris}}
              <a href="{{uri}}" target="_blank">{{id}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        {{/if}}

      </div> --}}
    </div>
  </div>

  <details open>
    
    <summary>リンク一覧</summary>
    <div class="data-list" id="#dev-edit-html">
      {{#if result.db_xrefs.omim}}
      <div>
        <h3>OMIM</h3>
        <div>
          <p>
            {{#each result.db_xrefs.omim}}
            <a href="https://omim.org/entry/{{id}}">{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.db_xrefs.orphanet}}
      <div>
        <h3>Orphanet</h3>
        <div>
          <p>
            {{#each result.db_xrefs.orphanet}}
            <a href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={{id}}">ORPHA:{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.mondos}}
      <div>
        <h3>Monarch Initiative</h3>
        <div>
          <p>
            {{#each result.mondos}}
            <a href="https://monarchinitiative.org/disease/{{id}}">{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.kegg.url}}
      <div>
        <h3>KEGG Disease</h3>
        <div>
          <p>
            <a href="{{result.kegg.url}}">{{result.kegg.id}}</a>
          </p>
        </div>
      </div>
      {{/if}}
  </details>

  {{!-- {{#if result.db_xrefs.omim}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
  {{else}}
    {{#if result.db_xrefs.orphanet}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
    {{else}}
      {{#if result.medgen_id}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
      {{else}}
        {{#if result.mondos}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
        {{else}}
          {{#if result.kegg.url}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
          {{else}}
            {{#if result.urdbms.url}}
  <details open>
    <summary>リンク一覧<!--&ensp;<a href="https://nanbyodata.jp//about_nando"><i class="far fa-question-circle"></i></a--></summary>
    <div class="data-list" id="#dev-edit-html">
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
      {{#if result.db_xrefs.omim}}
      <div class="list-wrapper">
        <h3>OMIM:</h3>
        <div class="list-contents">
          <p>
            {{#each result.db_xrefs.omim}}
            <a href="https://omim.org/entry/{{id}}" target="_blank">{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.db_xrefs.orphanet}}
      <div class="list-wrapper">
        <h3>Orphanet:</h3>
        <div class="list-contents">
          <p>
            {{#each result.db_xrefs.orphanet}}
            <a href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={{id}}" target="_blank">ORPHA:{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.medgen_id}}
      <div class="list-wrapper">
        <h3>MedGen:</h3>
        <div class="list-contents">
    {{#if result.medgen_uri}}
    <p><a href="{{result.medgen_uri}}" target="_blank">{{result.medgen_id}}</a></p>
    {{/if}}
        </div>
      </div>
      {{/if}}
      {{#if result.mondos}}
      <div class="list-wrapper">
        <h3>Monarch Initiative:</h3>
        <div class="list-contents">
          <p>
            {{#each result.mondos}}
            <a href="https://monarchinitiative.org/disease/{{id}}" target="_blank">{{id}}</a>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.kegg.url}}
      <div class="list-wrapper">
        <h3>KEGG Disease:</h3>
        <div class="list-contents">
          <p>
            <a href="{{result.kegg.url}}" target="_blank">{{result.kegg.id}}</a>
          </p>
        </div>
      </div>
      {{/if}}
      {{#if result.urdbms.url}}
      <div class="list-wrapper">
        <h3>UR-DBMS:</h3>
        <div class="list-contents">
          <p>
            <a href="{{result.urdbms.url}}" target="_blank">{{result.urdbms.id}}</a>
          </p>
        </div>
      </div>
      {{/if}}
  {{#if result.db_xrefs.omim}}
    </div>
  </details>
  {{else}}
    {{#if result.db_xrefs.orphanet}}
    </div>
  </details>
    {{else}}
      {{#if result.medgen_id}}
    </div>
  </details>
      {{else}}
        {{#if result.mondos}}
    </div>
  </details>
        {{else}}
          {{#if result.kegg.url}}
    </div>
  </details>
          {{else}}
            {{#if result.urdbms.url}}
    </div>
  </details>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}} --}}

{{!-- 
  {{#if result.description}}
  <details open>
    <summary>概要</summary>
    <div class="text">
      {{result.description}}
    </div>
  </details>
  {{/if}} --}}

  <details open>
    <summary>疾患定義</summary>
    <div class="tab-wrap">
      {{#if result.description}}
      <input id="TAB-01" type="radio" name="TAB1" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">厚労省</label>
      <div class="tab-content">
        {{result.description}}
      </div>
      {{/if}}
      {{#if result.mondo_decs}}
      <input id="TAB-02" type="radio" name="TAB1" class="tab-switch"{{#unless result.description}}checked="checked"{{/unless}}/><label class="tab-label" for="TAB-02">Monarch Initiative</label>
      <div class="tab-content">
        {{#each result.mondo_decs}}
        {{id}}
        <a href="https://translate.google.co.jp/?hl=ja#en/ja/{{id}}"><font color="#0431B4">&nbsp;&gt;&gt;&nbsp;翻訳 (Google)</font></a>
        {{/each}}
      </div>
      {{/if}}
      {{#if result.medgen_definition}}
      <input id="TAB-03" type="radio" name="TAB1" class="tab-switch"{{#unless result.description}}{{#unless result.mondo_decs}}checked="checked"{{/unless}}{{/unless}} /><label class="tab-label" for="TAB-03">MedGen</label>
      <div class="tab-content">
        <div class="text">
        {{result.medgen_definition}}
        <a href="https://translate.google.co.jp/?hl=ja#en/ja/{{result.medgen_definition}}" ><font color="#0431B4">&nbsp;&gt;&gt;&nbsp;翻訳 (Google)</font></a>
        </div>
      </div>
      {{/if}}
    </div>
  </details>

  {{!-- 
  {{#if result.medgen_definition}}
  <details open>
    <summary>疾患定義（From MedGen）</summary>
    <div class="text">
      {{result.medgen_definition}}
      <a href="https://translate.google.co.jp/?hl=ja#en/ja/{{result.medgen_definition}}" target="_blank"><font color="#0431B4">&nbsp;&gt;&gt;&nbsp;翻訳 (Google)</font></a>
    </div>
  </details>
  {{/if}}

  {{#if result.mondo_decs}}
  <details open>
    <summary>疾患定義（From Monarch Initiative）</summary>
    <div class="text">
      {{#each result.mondo_decs}}
        {{id}}
        <a href="https://translate.google.co.jp/?hl=ja#en/ja/{{id}}" target="_blank"><font color="#0431B4">&nbsp;&gt;&gt;&nbsp;翻訳 (Google)</font></a>
      {{/each}}
    </div>
  </details>
  {{/if}} --}}

  {{#if result.phenotype_flg}}
  <details open>
    <summary>臨床的特徴 From HPO</summary>
    <!-- HP_0025354 -->
    <ul>
      {{#if result.phenotype_HP_0025354_label}}
      <li>{{result.phenotype_HP_0025354_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0025354}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001871 -->
    <ul>
      {{#if result.phenotype_HP_0001871_label}}
      <li>{{result.phenotype_HP_0001871_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001871}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0003549 -->
    <ul>
      {{#if result.phenotype_HP_0003549_label}}
      <li>{{result.phenotype_HP_0003549_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0003549}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000152 -->
    <ul>
      {{#if result.phenotype_HP_0000152_label}}
      <li>{{result.phenotype_HP_0000152_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000152}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0040064 -->
    <ul>
      {{#if result.phenotype_HP_0040064_label}}
      <li>{{result.phenotype_HP_0040064_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0040064}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001939 -->
    <ul>
      {{#if result.phenotype_HP_0001939_label}}
      <li>{{result.phenotype_HP_0001939_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001939}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001197 -->
    <ul>
      {{#if result.phenotype_HP_0001197_label}}
      <li>{{result.phenotype_HP_0001197_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001197}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000769 -->
    <ul>
      {{#if result.phenotype_HP_0000769_label}}
      <li>{{result.phenotype_HP_0000769_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000769}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001626 -->
    <ul>
      {{#if result.phenotype_HP_0001626_label}}
      <li>{{result.phenotype_HP_0001626_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001626}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0025031 -->
    <ul>
      {{#if result.phenotype_HP_0025031_label}}
      <li>{{result.phenotype_HP_0025031_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0025031}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000598 -->
    <ul>
      {{#if result.phenotype_HP_0000598_label}}
      <li>{{result.phenotype_HP_0000598_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000598}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000818 -->
    <ul>
      {{#if result.phenotype_HP_0000818_label}}
      <li>{{result.phenotype_HP_0000818_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000818}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000478 -->
    <ul>
      {{#if result.phenotype_HP_0000478_label}}
      <li>{{result.phenotype_HP_0000478_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000478}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000119 -->
    <ul>
      {{#if result.phenotype_HP_0000119_label}}
      <li>{{result.phenotype_HP_0000119_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000119}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0002715 -->
    <ul>
      {{#if result.phenotype_HP_0002715_label}}
      <li>{{result.phenotype_HP_0002715_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0002715}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001574 -->
    <ul>
      {{#if result.phenotype_HP_0001574_label}}
      <li>{{result.phenotype_HP_0001574_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001574}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0003011 -->
    <ul>
      {{#if result.phenotype_HP_0003011_label}}
      <li>{{result.phenotype_HP_0003011_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0003011}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000707 -->
    <ul>
      {{#if result.phenotype_HP_0000707_label}}
      <li>{{result.phenotype_HP_0000707_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000707}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0002086 -->
    <ul>
      {{#if result.phenotype_HP_0002086_label}}
      <li>{{result.phenotype_HP_0002086_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0002086}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0000924 -->
    <ul>
      {{#if result.phenotype_HP_0000924_label}}
      <li>{{result.phenotype_HP_0000924_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0000924}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0045027 -->
    <ul>
      {{#if result.phenotype_HP_0045027_label}}
      <li>{{result.phenotype_HP_0045027_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0045027}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001608 -->
    <ul>
      {{#if result.phenotype_HP_0001608_label}}
      <li>{{result.phenotype_HP_0001608_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001608}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0025142 -->
    <ul>
      {{#if result.phenotype_HP_0025142_label}}
      <li>{{result.phenotype_HP_0025142_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0025142}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0001507 -->
    <ul>
      {{#if result.phenotype_HP_0001507_label}}
      <li>{{result.phenotype_HP_0001507_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0001507}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
    <!-- HP_0002664 -->
    <ul>
      {{#if result.phenotype_HP_0002664_label}}
      <li>{{result.phenotype_HP_0002664_label}}
        <div class="text">
          <ul>
            {{#each result.phenotype_HP_0002664}}
            <li><a href="{{uri}}" target="_blank"><font color="#0431B4">{{id}}</font></a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
  </details>
  {{/if}}

  <details open>
    <summary>疾患階層情報</summary>
    <div>
      <ul>
        <li>Peripheral neuroepithelioma</li>
        <li>Askin tumor</li>
        <li>Ewing sarcoma</li>
      </ul>
    </div>
    <div>
      <p>遺伝学的検査データベース</p>
      <p>指定難病情報センター</p>
      <p>小児慢性特定疾病情報センター</p>
      <p>MGeND</p>
    </div>
  </details>

  <details open>
    <summary>難病特異的バイオリソース From Riken BRC</summary>
    <div class="tab-wrap">
      {{#if result.cell}}
      <input id="cell" type="radio" name="TAB2" class="tab-switch" checked="checked" /><label class="tab-label" for="cell">細胞</label>
      <div class="tab-content">
        ここにテーブルが入る
        <script type="module" src="https://togostanza.github.io/metastanza/pagination-table.js" async></script>
        <togostanza-pagination-table data-url="https://nanbyodata.jp/sparqlist/api/nanbyodata_get_riken_brc_cell_info_by_nando_id?nando_id={{result.nando_id}}" data-type="json"
        page-size-option="10,20,50,100"
        page-slider="false"
        columns="[{&quot;id&quot;: &quot;ID&quot;,&quot;label&quot;:&quot;RIKEN_BRC 細胞番号&quot;}, {&quot;id&quot;: &quot;Homepage&quot;,&quot;label&quot;:&quot;Homepage&quot;,&quot;link&quot;:&quot;Homepage&quot;}, {&quot;id&quot;: &quot;Cell_name&quot;,&quot;label&quot;:&quot;細胞名&quot;}, {&quot;id&quot;: &quot;Description_e&quot;,&quot;label&quot;:&quot;細胞特性(英語)&quot;,&quot;escape&quot;:false},{&quot;id&quot;: &quot;Description_j&quot;,&quot;label&quot;:&quot;細胞特性(日本語)&quot;,&quot;escape&quot;:false}]"></togostanza-pagination-table>
      </div>
      {{/if}}
      {{!-- {#if result.mus}} --}}
      <input id="mus" type="radio" name="TAB2" class="tab-switch"{{#unless result.cell}}checked="checked"{{/unless}} /><label class="tab-label" for="mus">マウス</label>
      <div class="tab-content">
          コンテンツ 2
      </div>
      {{!-- {{/if}} --}}
      {{!-- {#if result.dna}} --}}
      <input id="dna" type="radio" name="TAB2" class="tab-switch"{{#unless result.cell}}{{#unless result.mus}}checked="checked"{{/unless}}{{/unless}} /><label class="tab-label" for="dna">遺伝子</label>
      <div class="tab-content">
        コンテンツ 3
      </div>
      {{!-- {{/if}} --}}
    </div>
  </details>

  {{!-- {{#if result.genetesting}} --}}
  <details open>
    <summary>遺伝学的検査表示</summary>
    <script type="module" src="https://togostanza.github.io/metastanza/pagination-table.js" async></script>

    <togostanza-pagination-table
      data-url="https://pubcasefinder.dbcls.jp/sparqlist/api/nanbyodata_get_gene_test?nando_id={{result.nando_id}}"
      data-type="json"
      custom-css-url=""
      width=""
      fixed-columns="1"
      padding="0px"
      page-size-option="10,20,50,100"
      page-slider="true"
      columns="[{&quot;id&quot;:&quot;label&quot;,&quot;label&quot;:&quot;Test name&quot;},{&quot;id&quot;:&quot;hp&quot;,&quot;label&quot;:&quot;Homepage&quot;,&quot;link&quot;:&quot;hp&quot;},{&quot;id&quot;:&quot;gene&quot;,&quot;label&quot;:&quot;Gene&quot;},{&quot;id&quot;:&quot;contact&quot;,&quot;label&quot;:&quot;Contact&quot;,&quot;link&quot;:&quot;contact&quot;}]"
    ></togostanza-pagination-table>
  </details>
  {{!-- {{/if}} --}}

</div>
